@{
    ViewData["Title"] = "Home page";
}

<div class="card text-center" style="height: 20rem; ">
  <div class="card-body position-absolute top-50 start-50 translate-middle">
    <h3 class="card-title">Hi, nice to see you!</h3>
    <p class="card-text">Welcome to our AirBnB service.</p>
    <br />
    <h6>Need A place to stay? Just click the button below to explore our accommodations!</h6>
    <br />
    <a class="btn btn-outline-primary btn-lg" asp-area="" asp-controller="Accommodations" asp-action="BnBs"><i class="bi bi-building"></i> Explore accommodations</a>
  </div>
</div>